<footer class="footer">
  <div class="footer__container">
    <div class="footer__box">
      <a href="#"><img src="../../../assets/facebook.png" class="fab fa-brands fa-square-facebook"></a>
      <a href="#"><img src="../../../assets/instagram.png" class="fab fa-brands fa-square-google-plus"></a>
      <a href="#"><img src="../../../assets/linkedin.png" class="fab fa-brands fa-square-twitter"></a>
      <a href="#"><img src="../../../assets/telegram.png" class="fab fa-brands fa-flickr"></a>
    </div>
    <div class="footer__copy">
      <span>&copy; Angular 2023</span>
    </div>
  </div>
</footer>