
.fa-brands {
  max-width: 32px;
  max-height: 32px;
}
.footer__box,.footer__copy,.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__box {
  gap: 20px;
}
.footer__copy{
margin-top: 10px;

}
.footer{
  min-height: 200px;
  margin-top: 25px;
}
