<main class="main">
  <div class="container-fluid">
    <div class="rp-header__menu">
      <h4>recent posts</h4>
      <a class="rp-header-menu__link" [routerLinkActive]="'active'" [routerLink]="'/blog'">view all</a>
    </div>
    <div class="container">
      <div class="row row-cols-2">
        <div class="col">
          <div class="rp-title">
            <h3>Making a design system from scratch</h3>
          </div>
          <div class="menu-description">
            <p class="menu-description__item">12 Feb 2020</p>
            <p class="menu-description__item">/</p>
            <p class="menu-description__item">Design, Pattern</p>
          </div>

          <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
            velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="col">
          <div class="rp-title">
            <h3>Creating pixel perfect icons in Figma</h3>
          </div>
          <div class="menu-description">
            <p class="menu-description__item">12 Feb 2020</p>
            <p class="menu-description__item">/</p>
            <p class="menu-description__item">Figma, Icon Design</p>
          </div>
          <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
            velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
      </div>
    </div>
  </div>
</main>