<app-navbar></app-navbar>

<div class="container-fluid header">
  <div class="container">
    <div class="row row-pos">
      <div class="col pos">
        <div class="header__container">
          <div class="header__wrap">
            <h1 class="header__title">Hi, I am {{name}},<br>
              {{about}}</h1>
          </div>
          <div class="header__wrap">
            <p class="header__subtitle">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
              officia consequat duis enim velit
              mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          </div>
        </div>
      </div>
      <div class="col pos right">
        <img class="header__image" src="../../../assets/1675339698105logo.png" alt="photo">
      </div>
    </div>

  </div>

</div>

<app-recent-posts></app-recent-posts>

<app-featured-works></app-featured-works>