<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="works__container">
    <div class="works__image">
      <img src="" alt="tour_of_heroes">
    </div>
    <div class="works__title">Tour of Heroes</div>
    <div class="works__link">
      <a href="https://github.com/Maksymol/Tour_of_Heroes">View on GitHub</a>
    </div>
  </div>
  <div class="works__container">
    <div class="works__image">
      <img src="" alt="front-end-shop">
    </div>
    <div class="works__title">Frontend shop</div>
    <div class="works__link">
      <a href="https://maksymol.github.io/front-end-shop/">View on GitHub</a>
    </div>
  </div>
  <div class="works__container">
    <div class="works__image">
      <img src="" alt="jquery_slider">
    </div>
    <div class="works__title">JQuery Slider</div>
    <div class="works__link">
      <a href="https://maksymol.github.io/JQuery_Slider/">View on GitHub</a>
    </div>
  </div>
</div>